<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect the bare apex domain to www (301). www and the
             *.azurewebsites.net default host are left untouched. -->
        <rule name="Apex to www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^lcreationssalon\.com$" />
          </conditions>
          <action type="Redirect" url="https://www.lcreationssalon.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
